:root {
	--border-color-general: #726155;
	--border-color-normal: #74878c;
	--border-color-rare: #2c71c0;
	--border-color-unique: #bc5325;
	--border-color-legend: #b98d25;
	--border-color-epic: #488427;
	--border-color-curse: #8c239c;
	--border-color-costume: #68253d;
	--border-color-special: linear-gradient(#059aff, #4333ff, #6b00ff, #cc00ff 90%);
	--border-color-exclusive: linear-gradient(#fceb36, #3cc108);
	--border-color-sc: linear-gradient(#ffc116, #ff2960);
	--border-color-hover: #fff;

	--background-color-mix--start: #151312 20%;
	--background-color-general: linear-gradient(var(--background-color-mix--start), #35120c);
	--background-color-normal: linear-gradient(var(--background-color-mix--start), #1f242c);
	--background-color-rare: linear-gradient(var(--background-color-mix--start), #0b1a33);
	--background-color-unique: linear-gradient(var(--background-color-mix--start), #36160b);
	--background-color-legend: linear-gradient(var(--background-color-mix--start), #36270b);
	--background-color-epic: linear-gradient(var(--background-color-mix--start), #1d360b);
	--background-color-curse: linear-gradient(var(--background-color-mix--start), #290e2a);
	--background-color-costume: linear-gradient(var(--background-color-mix--start), #2a0e18);
	--background-color-special: linear-gradient(var(--background-color-mix--start), #310981);
	--background-color-exclusive: linear-gradient(var(--background-color-mix--start), #35200f);
	--background-color-sc: linear-gradient(var(--background-color-mix--start), #3a121c);
	--background-color-hover: #3490e7;
}