.markdown-body {
	font-family: system-ui, 'Segoe UI', 'Ubuntu', -apple-system, sans-serif;
}

.cp_embed_wrapper {
	display: flex;
	resize: both;
	overflow: hidden;
}

.cp_embed_wrapper iframe {
	flex-grow: 1;
}
